################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
Looplearn.v2.0.sln
LoopLearn.DataAccess/obj
LoopLearn.DataAccess/bin
LoopLearn.Entities/bin
LoopLearn.Entities/obj
LoopLearn.API/bin
LoopLearn.API/obj
LoopLearn.Entities/LoopLearn.Entities.csproj
LoopLearn.DataAccess/LoopLearn.DataAccess.csproj
LoopLearn.API/LoopLearn.API.csproj