################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
Looplearn.v2.0.sln
/obj
/bin
