################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
LoopLearn.DataAccess/obj
LoopLearn.DataAccess/bin
LoopLearn.Entities/bin
LoopLearn.Entities/obj
LoopLearn.API/bin
LoopLearn.API/obj
LoopLearn.API/wwwroot/avatars
LoopLearn.API/wwwroot/course-thumbnails
